body{
    color: #FA6766;
    font-family: "Trebuchet MS", Arial, Verdana;
    margin: 20px;
    padding: 0;
}
h3{
    margin: 0;
    padding: 0;
}
div{
    float: left;
}
#table{
    width: 100%;
}
.row{
    width: 100%;
}
.col{
    width: 75px;
    float: left;
    height: 75px;
    cursor: pointer;
}
.hr{
    border-right: 2px solid #FA6766;
}
.vr{
    border-bottom: 2px solid #FA6766;
}
.cross{
    background-image: url(round.jpg);
}
.round{
    background-image: url(cross.jpg);
}
#log{
    clear: both;
    margin: 0;
    padding: 0;
}
.reset{
    cursor: pointer;
    display: none;
    text-decoration: underline;
}